# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class


# Environments
.env
venv/

# Sqlite
db/
*.db
*.sqlite
*.sqlite3

# Data source
data/
*.json
uploads/

# Logs
logs/
*.log
*.err
nohup*

# Visual Studio Code
.vscode/
